<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ site.title }} {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.live_url }}assets/sass/basecamp/basecamp.css">
    <link rel="stylesheet" href="{{ site.live_url }}assets/sass/theme/theme.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{% if page.title %}{{ site.title }} {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.live_url }}assets/imgs/basecamp_featured-image.jpg" />
    <meta property="og:url" content="https://takenot-es.github.io/basecamp/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{% if page.title %}{{ site.title }} {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
</head>
<body>