<header class="content">
    <div class="height:50vh">&nbsp;</div>
    <div class="grid margin:top:10">
        <div class="grid:row">
            <div class="column:md:8 margin:horizontal:auto">
                <h1 class="fontsize:1">
                    <strong>Meet Basecamp.</strong>
                    <span class="scrolltext">The no-nonsense CSS framework for when you just want to get stuff laid out, without the overhead of an opinionated design system. Think of it as the equivalent of a minimalistic, no-frills toolkit that gets you 50% of the way there, but leaves the last 50% to you—and your questionable decisions.</span>
                </h1>
            </div>
        </div>
    </div>
</header>